@page
@model WebApp.Pages.AccessDeniedModel
@{
}

<div>
    Oooops, Access denied.
</div>
<div>
    You can 
    <a asp-page="/Logout">
        Logout
    </a>
    and try a different account.
</div>


