@page
@model IndexModel
@{
    ViewData["Title"] = "DotNetLead - AzureADAuth";
}

<div>
    This is a Azure AD Authentication application with the example of managing customers. <a asp-page="/Customer/List" class="btn btn-secondary">Click here</a> to start.
</div>


